html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}
.content {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.main {
  width: 100%;
  position: relative;
}

.video {
  width: 100%;
  display: none;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  display: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.assist {
  margin: 15px auto 0;
  padding: 15px 20px 20px;
  border-radius: 2px;
  box-sizing: border-box;
}

.button {
  width: 100px;
  display: block;
  padding: 12px;
  margin: 40px auto 40px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.gallary {
  margin: 10px auto;
  margin: 10px auto;
  display: flex;
  overflow-x: scroll;
}
